body {
    margin: 0;
    overflow: hidden;
}

.sceneContainer {
    height: 100vh;

}

.title {
    height: 15vh;
    display: flex;
    align-items: center;
    margin-left: 5vh;
}

.scene {
    width: 50vw;
    height: 85vh;
}

main {
    display: flex;
    flex-direction: row;
}

.contentContainer {
    width: 50vw;
    height: 100vh;
    border-left: 2px solid hsl(0, 0%, 25%);
    color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
}

.dropdown {
    cursor: pointer;
    border: none;
    outline: 2px solid #fff;
    border-radius: 0.5rem;
    text-align: left;
    width: 90%;
    overflow: hidden;
    /* Define o valor mínimo */
}

.dropdownPainel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;

    & .dropdownH1 {
        font-size: 1rem;
    }

    & .dropdownSpan {
        background-color: rgba(255, 255, 255, 0);
        border: 2px solid #ffffff;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
    }
}

.dropdownClose .dropdownSpan {
    background-color: #ffffff00;
}

.dropdownOpen .dropdownSpan {
    background-color: #fff;
}

.dropdownClose {
    padding: 0 0 0rem 0;
    transition: max-height 0.25s ease-in, padding 0.25s ease-in;
    max-height: 2rem;
}

.dropdownOpen {
    padding: 0 0 8rem 0;
    max-height: 8rem;
    transition: max-height 0.25s ease-in, padding 0.25s ease-in;
}

.dropdown li {
    padding: .2rem 1rem;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown li:hover {
    background-color: hsl(0, 0%, 10%);

}

.dropdown li:last-child {
    padding: .2rem 1rem .5rem 1rem;
}

.textContent {
    overflow: hidden auto;
    outline: 2px solid #fff;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: .5rem;
    padding: 2rem;
    width: 90%;
    height: auto;
    gap: 1rem;
}

.inicioText p {
    width: 100%;
    text-align: justify;
}


.links {
    width: 50%;
    margin: auto;
    gap: 0 1rem;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.links>li {
    grid-column: span 2;
}

.links>li:nth-child(1),
.links>li:nth-child(2),
.links>li:nth-child(6),
.links>li:nth-child(7) {
    grid-column: span 3;
    justify-self: end;
}

.links>li:nth-child(1),
.links>li:nth-child(6) {
    justify-self: end;
}

.links>li:nth-child(2),
.links>li:nth-child(7) {
    justify-self: start;
}

.item {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    overflow: hidden;
    transform: scale3d(1, 1, 1);
    transition: transform .10s;
}

.item a {
    background-color: #fff;
    display: flex;
    width: 100%;
    height: 100%;
}

.item:hover {
    transform: scale3d(1.25, 1.25, 1.25);
    transition: all .25s;
}

.curriculo {
    border: 2px solid #fff;
    font-weight: 900;
    border-radius: .5rem;
    padding: .5rem;
    text-align: center;
    outline: none;
    transition: background .25s linear, color .10s linear;
}

.curriculo:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: background .25s linear, color .10s linear;
}

.servicesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
}

.serviceItem {
    border: 2px solid #fff;
    background: #f5f5f500;
    display: flex;
    height: auto;
    flex-direction: column;
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
    font-size: 1rem;
    transition: transform .10s linear;

    & h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;

        & svg {
            width: 2rem;
            height: 2rem;
            fill: #fff;
        }
    }
}

.serviceItem:hover {
    cursor: pointer;
    background: #ffffff;
    color: #000;
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform .25s linear;

    & svg {
        fill: #000;
    }
}

.slider {
    margin-top: 1rem;
    position: relative;
    width: 100%;
    height: 20rem;
}

.projetosItem {
    position: absolute;
    width: 200px;
    height: 320px;
    text-align: justify;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 0;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
    overflow: hidden;

    border: 2px solid;
    border-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    color: hsl(0, 0%, 100%);
}

.projetosItem:hover {
    border-color: rgb(255, 255, 255);
    cursor: pointer;
}

#next,
#prev {
    position: absolute;
    top: 40%;
    color: hsl(0, 0%, 100%);
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    /* cursor: pointer; */
    z-index: 1;
    transition: color .25s;
}

#next:hover,
#prev:hover {
    transition: color .5s;
    color: #fff;
    cursor: pointer;
}


#next:active,
#prev:active {
    transition: color .1s;
    color: #ff8080;
}

#next {
    left: unset;
    right: 0px;
}

.certificados {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.certificados li a {
    border-radius: .5rem;
    padding: .25rem;
    text-align: center;
    outline: none;
}

.certificados li a:hover {
    outline: 2px solid #fff;
    cursor: pointer;
    background-color: #fff;
    color: #000;
}


/* Custom Scroll */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.496);
    border-radius: 10px;
    border: 5px solid #000000;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

/* animtated title */

.animated-text span {
    position: relative;
}

.animated-text span::before {
    content: "Portfólio";
    color: #ffffff;
    animation: words 20s infinite;
}

.animated-text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #000000;
    border-left: 2px solid #ffffff;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {

    0%,
    20% {
        content: "Portfólio";
    }

    21%,
    40% {
        content: "Dev Full-Stack";
    }

    41%,
    60% {
        content: "UI/UX Designer";
    }

    61%,
    80% {
        content: "Freelancer";
    }

    81%,
    100% {
        content: "Creative";
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

@media (max-width: 900px) {
    body {
        overflow: hidden auto;
    }

    main {
        flex-direction: column;
    }

    .title {
        font-size: 1.5rem;
    }

    .sceneContainer {
        height: 40vh;
    }

    .scene {
        width: 100vw;
        height: 30vh;
    }


    .contentContainer {
        width: 100vw;
        height: auto;
        border-left: 2px solid hsla(0, 0%, 25%, 0);
        color: #fff;
        font-family: sans-serif;
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
    }

    .links {
        width: 70%;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(1, auto);
    }

    .links>li {
        grid-column: unset;

    }

    .links>li:nth-child(1),
    .links>li:nth-child(2),
    .links>li:nth-child(6),
    .links>li:nth-child(7) {
        grid-column: unset;
        justify-self: unset;
    }
}

@media (max-width: 450px) {
    .servicesContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 1rem;
    }


}